header {
  background-color: #8fbc8f;
}

body {
  margin: 0;
}
#top a {
  padding: 5px;
  color: black;
  display: flex;
  text-decoration: none;
}

#top p {
  margin: 10px;
}

  input[type="date"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
  }
  input[type="date"]::-webkit-clear-button{
    -webkit-appearance: none;
  }

#result {
  height: auto;
  width: 500px;
  background-color: paleturquoise;
  border-radius: 7px;
}

#result > p {
  margin: 5px;
  padding: 10px;
}

.displayRaceNum, .displayClass {
  display: inline-block;
}

#resultHtml > ul {
  margin: -15px;
  list-style: none;
}

#display > p {
  display: inline-block;
}

#display > button {
  display: inline-block;
}