header {
  background-color: #8fbc8f;
}

body {
  margin: 0;
}
#top a {
  padding: 5px;
  color: black;
  display: flex;
  text-decoration: none;
}

#top p {
  margin: 0;
  position: fixed;
  top: 14px;
  left: 55px;
}

  input[type="date"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
  }
  input[type="date"]::-webkit-clear-button{
    -webkit-appearance: none;
  }

#result {
  height: 200px;
  width: 500px;
  background-color: paleturquoise;
  border-radius: 15px;
}

#result > p {
  margin: 5px;
  padding: 10px;
}

#resultHtml > ul {
  margin: -15px;
  list-style: none;
}