header {
  background-color: #8fbc8f;
}

body {
  margin: 0;
}
#top a {
  padding: 5px;
  color: #000;
  display: flex;
  text-decoration: none;
}

#top p {
  margin: 10px;
}

  input[type="date"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
  }
  input[type="date"]::-webkit-clear-button{
    -webkit-appearance: none;
  }

#result {
  padding: 0 15px 20px 15px;
  height: auto;
  width: 800px;
  background-color: #90ee90;
  border-radius: 7px;
}

#result > p {
  margin: 5px;
  padding: 10px;
}

.noLoad {
  display: none;
}

.oneRaceInfo {
  margin: 0 0 10px 0;
}

.displayInfo, .displayInfoEnd {
  margin: 0;
  padding: 0;
  display: table-cell;
  width: 150px;
  text-align: center;
  vertical-align: middle;
  border-top: 1px solid #696969;
  border-bottom: 1px solid #696969;
  border-left: 1px solid #696969;
}

.displayInfo > li {
  list-style: none;
  font-size: 12px;
}

.displayInfoEnd {
  border-right: 1px solid #696969;
  font-size: 12px;
}

.displayInfoEnd > li {
  list-style: none;
}

#resultHtml > ul {
  margin: -15px;
  list-style: none;
}